*{border-radius:1%; border-color:#00ffff; font: 35pt lobster ; }
.but , .head2{
    border-radius:15%;
    background-color:rgb(231, 123, 177);
    color:rgb(15, 214, 204);
    text-align: center;
    box-sizing: content-box;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -30px 19px; 
}
button{ border-radius:15%;
    background-color:rgba(196, 8, 180, 0.76);
    color:rgb(15, 214, 204);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -30px 19px;
}
button:hover{
    color:rgb(0, 0, 0);
    font: bold ;  
    cursor:pointer;
}
button:active{
    color:rgb(0, 255, 76) ;
    cursor:wait;
}

.img{
width: 160px;
height: 160px;
border-radius:40%;
}
.bold {
color:rgb(15, 214, 204 );
font-weight:bold;
}


.par{
font-weight:bolder;
}
.par[color="diff"]{
    color: rgb(34, 222, 236);
    text-shadow:10px 10px rgb(15, 53, 223);
}
.par:not([color="diff"]){
    color:rgb(8, 248, 236)
}
option{
    color:azure;
    
}

.tablebody , th  {
    background-image: conic-gradient(rgb(219, 34, 219), rgb(131, 27, 201), rgb(160, 55, 120), rgb(228, 61, 178), rgb(221, 21, 81));
 }
.pic{
    width:100%; 
 }
.main{
background-color:rgb(190, 223, 8); 
background-size:contain;  

} 

.main2[main="pink"] {background-image: linear-gradient(pink,rgb(221, 13, 117) ,rgba(61, 174, 182, 0.651),rgba(199, 68, 188, 0.76));}

.data {
    font-size: larger;
    position:relative;
    -webkit-text-stroke:0.2vw #df23df;
    text-transform:capitalize;
}
.data:before{
    content:attr(data-text);
    position:absolute;
    top:0%;
    left:0%;
    width:0%;
    height:100%;
    color:#00ffff;
    -webkit-text-stroke:0vw #df23df;
    border-right: #00ffff;
    overflow: hidden;
    animation:animate 1.1s linear infinite ;
    -webkit-animation: animate  3s linear infinite;
}
@keyframes animate {
    0%{
        width:0%;
    }
    30%{
        width:30%;
    }
    70%{
        width: 70%;
    }
}
h1{
    position:absolute;
    -webkit-text-stroke:0.3vw #df23df;
    text-transform:lowecase;
}
h1:before{
    content:attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:0%;
    height:100%;
    color:#00ffff;
    -webkit-text-stroke:0vw #df23df;
    border-right: #00ffff;
    overflow:hidden;
    animation:animate 3s linear infinite;
    -webkit-animation: animate 3s linear infinite;
}
@keyframes animate {
    0%{
        width:0%;
    }
    60%{
        width: 100%;
    }

}
.tablehead{
color:rgb(22, 177, 55)}
[lang]{
color:rgb(209, 223, 18);}
[lang="fr"]{
    color:rgb(7, 39, 223);}
.table2{
overflow: scroll;
}

tr{
    background-image:conic-gradient(pink,rgb(13, 197, 221) ,rgba(13, 231, 202, 0.651),rgba(8, 196, 80, 0.76));
    color:rgb(113, 87, 228);
}
tr:nth-child(even){
    color:rgb(177, 66, 199);
}

.tfoot {
    color:rgb(13, 224, 231);
}

 
nav{ 
border-radius: 10%;
position:static; 
display:inline-table;     
box-shadow: 1px 10px 25px 0 rgb(181, 25, 212);  
margin: 20px;
padding: 70px;
}    
li {  
left: -10%;
position:relative;
margin:25px; 
transform:rotate(-5deg)scale(0.9) ;
}  
[order="ssecond"]{
    z-index:5;
}
