*{
  margin: 1px 1px;
  padding: 0px;
  box-sizing: border-box;
  font-family:monospace,sans-serif;
  font-size:1.4rem; 
}
.bg-Img{
  display:flex;
  position:relative;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  color: rgb(4, 191, 248);
  background-image:url(https://th.bing.com/th/id/R.84b3491704c37a58b766177f230f4666?rik=6tiApPxzP1Tu7w&pid=ImgRaw&r=0);
  transition:2s ease-in-out;
  background-repeat:repeat;
  background-size:cover;
  background-color: #f27cf7da;
}
::selection{
background: rgb(168, 131, 228);
}

.city {
position: fixed;
bottom: 0% ;
width:100%; 
display:flexbox;
text-align: center;
color:#b6d3e7;
margin-left:-1em;
}
.container{
  padding: 3em 2em;
  position:relative;
  display: flexbox;
  width: 45vw;
  height: 75vh;
  color: #8ec9f3;
  background-color:rgba(7, 2, 58, 0.226);
  border-radius: 10%;
  box-shadow: 27px 20px 20px rgba(12, 11, 11, 0.05);
  align-content: center;
 justify-content: center;
}

header{
  font-size: 1.2em;
  
  color:#b6d9f1;
  display: flex;
  margin-bottom: 10%;
  border-bottom: 3px solid rgb(9, 37, 78);
}
header h2{
  display: flexbox;
  font-size:1.4em;
  position: absolute;
}
header h2:nth-child(2){
  color: #078dec;
  position: relative;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0%,100% {
clip-path: polygon(0% 48% ,16% 44% ,33% 50% ,54% 60%, 70% 61%, 84% 59%,100% 52%, 100% 100%,0% 100%);
  }
  50%{
clip-path: polygon(0% 54% ,17% 65% ,34% 66% ,51% 62%, 67% 50%, 83% 45%,100% 46%, 100% 100%,0% 100%);
  }
  
}
.container.active header {
  display: flexbox;
  color:#55b7f0;
  position: relative;
 
}
.back {
  display: none;
}
.container.active .back {
  display:inline-block;
  border-radius: 1.625rem;
  cursor:pointer;
  border-color: #55b7f0;
  background-color:inherit;
  height:auto;
  width:8rem;
  position: relative;
  outline:inherit;
}

.back .circle{
  transition: all 0.45s cubic-bezier(0.065, 0, 0.65, 1);
  position: relative;
  display: block;
  margin:0;
  width: 3rem;
  height:3rem;
  background-color:inherit;
  border-radius: 1.625rem;
}
.back:hover .circle{
  width: 100%;
}
.back .arrow-icon{
  position:absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.45s cubic-bezier(0.065, 0, 0.65, 1);
  left: 6.25rem;
  width:1.125rem;
  height:0.125rem;
  background: none;
}
.back .arrow-icon::before{
  position:absolute;
  content: "";
  top:-0.25rem;
  width:0.625rem;
  height:0.625rem;
  border-top:0.225rem solid #55b7f0;
  border-left: 0.225rem solid #55b7f0;
  transform: rotate(-45deg);

}
.back:is(:focus,:hover) .arrow-icon{
  transform: translate(-6rem,0);
  background: none;
}
.back .button-text{
  position:absolute;
  inset:0;
  color:#5DBBFF;
  padding:0.75rem 0;
  line-height:1.7em;;
  letter-spacing: 1px;
  margin: 0 0 0 1.85rem ;
  transition: all 0.45s cubic-bezier(0.065, 0, 0.65, 1);
  font-size: 1rem;
  text-transform:capitalize;
  visibility: hidden;
}
.back:hover .button-text{
 visibility:visible;
}
.container .input-section{
  margin:0px 25px 25px 25px;
}
.container.active .input-section{
  display: none;
}
.info-text{
  display:flex;
  justify-content:center;
  border-radius: 0.9px;
}
.input-section .info-text.error{
  display:flexbox;
  background-color:#0e0211;
  padding: 1px 5px;
  color:#5DBBFF;
  text-align: center;
  border-radius: 10px;
 
}
.input-section .info-text.pending{
  display:block;
  background: #0a010c;
  color:#5DBBFF;
  border-radius: 1ex;
}
.input-div{
  display: flex;
  justify-content: center;
  position:relative;
  padding: 10px;
}
.search-input{
  outline: none;
  padding:0;
  width: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 46px;
  border: 4px solid rgb(46, 130, 179);
  line-height: 40px;
  border-radius: 1.6rem;
  background-color: rgba(5, 5, 27, 0.26);
}
input:focus{
  color: #b6d3e7;
}
.input-div:is(:hover,:focus-within ) > .search-input{
  width:100%;
  padding:0 8px;
  transition: 1.2s ease-out;
  background-color: inherit;
}
.search-input::placeholder{
  
  color: #55b7f0;
}
.input-section .search-input:is(:hover,:focus)::placeholder{
  visibility: visible;
}
.separator::before{
  justify-content: center;
  position: relative;
  display: flex;
  content: "OR";
  color:#abd4f1;
  font: 30px bolder;
  padding: 2em 0 ;
}
.input-section :where(button){
  width: 100%;
  height: 43px;
  border: 2px solid #2e82b3;
  outline:none;
  display: inline-block;
  border-radius: .6rem;
  color:#5DBBFF;
  background-color:rgba(1, 1, 5, 0.26);
  cursor: pointer;

  text-decoration: none;
}
.input-section button:hover{
  color:#2e82b3;
  background-color: inherit ;
  animation: pulse 0.6s ease-in-out;
}
   @keyframes pulse {
    from{
      box-shadow:
            0 0 25px #a6cde4;
          }
          to{
            box-shadow:0 0 50px #0b77b6;

          }
      
    
}
.container.active{
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes swing-in-top-fwd{
0%{
  transform: rotateX(-100deg);
  transform-origin: top;
  opacity:0;
}
100%{
transform: rotateX(0deg);
  transform-origin: top;
  opacity:1;
}
}
.container .weather-section{
  display: none;
  flex-direction: column;
  align-items: center;
}
.container.active .weather-section{
  color:#8ec9f3;
  display: flex;
  border-radius: 25px;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes swing-in-top-fwd{
0%{
  transform: rotateX(-100deg);
  transform-origin: top;
  opacity:0;
}
100%{
transform: rotateX(0deg);
  transform-origin: top;
  opacity:1;
}
}
.container.active .city{
  display: none;
}
.weather-section{
  display: none;
}
.weather-section .temperature{
  display: flex;
  font-size: 66px;
}
.number{
  margin:26px 1px;
}
.weather-section .weather{
  text-transform: capitalize;
  font-size: 25px;
  margin: -5px 10px 15px;
}
.weather-section .location{
  display: flex;
  font-size: 30px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
}
.bottom-details{
  display: flexbox;
  border-top: 3px solid rgb(9, 37, 78);
}
.humidity {
  display: flexbox;
  margin-top:10px;
}
.column-details {
  margin: 7px ;
  font-size: 41px;
  text-align:center;
}

.feels  {
display: flexbox;
}
.footinfo{
display:flex;
position:fixed;
left: 0%;
bottom: 0%;
width:100%; 
text-align: center;
color:#2494e4;
justify-content:center;
font:20px caption;
}

@media only screen and (max-width:1100px){
  *{
margin: 0px 0px;
box-sizing: border-box;
font-family:monospace;
font: size 1.2rem;;
}
.bg-Img{
display:flex;
position:relative;
align-items: center;
justify-content: center;
}
.city {
position:absolute;
left: 4.5%;
bottom: 0%;
width:100%; 
display:flexbox;
text-align: center;
color:#a6cde4;
justify-content:center;
 }
.container{
position: relative;
display: flexbox;
width:inherit;
height: 100%;
color: #8ec9f3;
background-color:rgba(8, 2, 59, 0.226);
border-radius: 30px;
box-shadow: 27px 20px 20px rgba(12, 11, 11, 0.05);
align-content: center;
} 
.container.active .weather-section{
justify-content: center;
color: #b2dbf3;
transition:2.5s ease-in-out;
display: flex;
}
.footinfo{
display:flex;
position:absolute;
left: 0%;
bottom: 0%;
width:100%; 
text-align: center;
color:#2494e4;
justify-content:center;
font:25px bolder;
}
.container.active .back .button-text{
  visibility:visible;
}
}

@media only screen and (max-width:490px){
*{
margin: 0px 0px;
box-sizing: border-box;
font-family:monospace;
font-size:0.9rem;
}
.bg-Img{
display:flex;
position:relative;
align-items: center;
justify-content: center;
}
.separator::before{
  width: 0%;
  margin:0 auto;
  position: relative;
  display: flex;
  content: "or";
  color:#abd4f1;
  font: 20px bolder;
  padding: 20px ;
}
.city {
position: fixed;
bottom: 0%;
width:100%; 
display:flexbox;
text-align: center;
color:inherit;
justify-content:center;
margin: auto;
}
.container{
position: relative;
display: flexbox;
width: 380px;
height: 100%;
color: #419ee0;
background-color:rgba(8, 2, 59, 0.226);
border-radius: 15px;
box-shadow: 27px 20px 20px rgba(12, 11, 11, 0.05);
align-content: center;
} 
.container.active .weather-section{
  justify-content: center;
  color:inherit;
  transition:3s ease-in-out;
  display: flex;
  border-radius: 25px;
}
.footinfo{
display:none;
}
.container.active .back .button-text{
  visibility:visible;
}
}
