*{border-radius:1%; border-color:#00ffff; font: 35px lobster ; }
.but , .head2{
    border-radius:15%;
    background-color:rgb(231, 123, 177);
    color:rgb(15, 214, 204);
    text-align: center;
    box-sizing: content-box;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -30px 19px; 
}
button{ border-radius:15%;
    background-color:rgba(196, 8, 180, 0.76);
    color:rgb(15, 214, 204);
    font:'Courier',Verdana ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -30px 19px;
}
button:hover{
    color:rgb(0, 0, 0);
    font: bold ;  
    cursor:pointer;
}
button:active{
    color:rgb(0, 255, 76) ;
    cursor:wait;
}

.img{
width: 160px;
height: 160px;
border-radius:40%;
}
.bold {
color:rgb(15, 214, 204 );
font-weight:bold;
}


.par{
font-weight:bolder;
color:rgb(76, 9, 139);
}
.par[color="diff"]{
    color: rgb(112, 34, 236);
    text-shadow:10px 10px rgb(15, 223, 15);
}
.par:not([color="diff"]){
    color:rgb(15, 214, 204)
}
option{
    color:azure;
    
}

.tablebody , th  {
    background-image: linear-gradient(rgb(209, 70, 70), rgb(201, 201, 27), rgb(55, 160, 55), rgb(74, 74, 146), rgb(124, 51, 146));
 }
.pic{
    width:100%; 
 }
.main{
    background-color:rgb(190, 223, 8);
}
.main[main="pink"] {background-image: linear-gradient(pink,rgb(221, 13, 117) ,rgba(131, 8, 121, 0.651),rgba(196, 8, 180, 0.76));}

.data {
    font-size: larger;
    position:relative;
    -webkit-text-stroke:0.2vw #df23df;
    text-transform:capitalize;
}
.data:before{
    content:attr(data-text);
    position:absolute;
    top:0%;
    left:0%;
    width:0%;
    height:100%;
    color:#00ffff;
    -webkit-text-stroke:0vw #df23df;
    border-right: #00ffff;
    overflow: hidden;
    animation:animate 1.1s linear infinite ;
    -webkit-animation: animate  3s linear infinite;
}
@keyframes animate {
    0%{
        width:0%;
    }
    30%{
        width:30%;
    }
    70%{
        width: 70%;
    }
}
h1{
    position:absolute;
    -webkit-text-stroke:0.3vw #df23df;
    text-transform:lowecase;
}
h1:before{
    content:attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:0%;
    height:100%;
    color:#00ffff;
    -webkit-text-stroke:0vw #df23df;
    border-right: #00ffff;
    overflow:hidden;
    animation:animate 3s linear infinite;
    -webkit-animation: animate 3s linear infinite;
}
@keyframes animate {
    0%{
        width:0%;
    }
    60%{
        width: 100%;
    }

}
.tablehead{
color:rgb(18, 93, 206)}
[lang]{
color:rgb(216, 18, 223);}
[lang="fr"]{
    color:rgb(223, 86, 7);}

tr:nth-child(odd){
    background-image:linear-gradient(pink,rgb(221, 13, 117) ,rgba(131, 8, 121, 0.651),rgba(196, 8, 180, 0.76));
    color:rgb(39, 248, 11);
}
tr:nth-child(even){
    color:rgb(20, 155, 233);
}

.tfoot {
    color:rgb(13, 224, 231);
}